.adminPage-sidebar {
    h2 {
        font-size: 24px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    >div {
        h3 {
            text-align: center;
            border-bottom: 1px solid blue;
            padding-bottom: 10px;
        }

        .adminPage-curr {
            display: flex;
            justify-content: space-between;
    
            span {
                font-weight: 700;
                margin-left: 10px;
            }
        }
    }
}

.adminPage-body {
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
        display: block !important;
    }
}